footer {
    margin: 20px;
    .container {
        text-align: center;

        .social-media{
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-bottom: 20px;
        }

        .copyright{
            font-size: 14px;
            width: 100%;

            @include lg {
                width: 60%;
            }

            span{
                display: none;

                @include xxl{
                    display: inline;
                }
            }

        }
    }
}