<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @(!string.IsNullOrEmpty(ViewData["Title"]?.ToString()) ? ViewData["Title"] + " | Silicon" : "Silicon")
    </title>

    @* @if(!string.IsNullOrEmpty(ViewData["DarkMode"].ToString()))
    {
    <link rel="stylesheet" href="~/css/dark-mode.css" asp-append-version="true"/>
    }
    else
    {
    <link rel="stylesheet" href="~/css/light-mode.css" asp-append-version="true"/>
    } *@

    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <partial name="~/Views/Partials/Sections/_Header.cshtml" />
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>


    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="~/Views/Partials/Sections/_Footer.cshtml" />

</body>

</html>
