.btn-socialmedia {
    display: flex;
    align-items: center;
    height: 44px;
    width: 44px;
    background-color: var(--color-gray-200);
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.15s ease-in-out;

    &:hover {
        background-color: var(--color-gray-800);
        color: var(--color-gray-200);
    }
}