<footer>
    <section class="container">
        <section class="social-media">
            <a class="btn-socialmedia" href="#"><i class="fa-brands fa-facebook"></i></a>
            <a class="btn-socialmedia" href="#"><i class="fa-brands fa-twitter"></i></a>
            <a class="btn-socialmedia" href="#"><i class="fa-brands fa-instagram"></i></a>
            <a class="btn-socialmedia" href="#"><i class="fa-brands fa-youtube"></i></a>
        </section>
        <p class="copyright">
            &copy; @DateTime.Now.Year Silicon by Createx Studio. All Rights reserved.
            <span>lorem10</span>
        </p>
    </section>
</footer>