 <header>
        <nav class="container">
            @* <div>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ExArbete</a>
            <button type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            </button>
            <div> *@
            <ul class="flex border gap-x-5">
                <li>
                    <a class="logo" asp-controller="Home" asp-action="Index"><img src="~/images/logos/silicon-logo.svg" alt="Silicon logo"/></a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Overview</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Features</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Contact</a>
                </li>
            </ul>
            <ul class="account-buttons">
                <li>Light</li>
                <li></li>
                <li>Dark</li>
                <li><a asp-controller="Auth" asp-action="SignIn">Sign In</a></li>
                <li><a>Sign Up</a></li>
            </ul>
        </nav>
    </header>